@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    font-family: "Kanit", sans-serif;
}

.minitext {
    font-size: 13px;
}

.MAMenu {
    border-radius: 10px;
}

.MAMenu:hover {
    background: #081b30;
}

.menu_text {
    width: 86%;
    float: right;
    margin-top: 40px;
    margin-bottom: 30px;
}

.BGPanel {
    background: #FFFFFF;
    border-radius: 10px;
    height: 700px;
}

.BGPanel2 {
    background: #FFFFFF;
    border-radius: 10px;
}

.ofPanel {
    height: 500px;
    overflow: auto;
}

.HDText {
    color: black;
    font-size: 32px;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: baseline;
    border-top: 1px solid #dee2e6;
}

#SumtotalH2 {}

.sport_product figure img {
    height: 300px;
    width: 300px;
}

fieldset.active {
    display: block !important
}

fieldset {
    display: none
}

.pic0 {
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.product-pic {
    padding-left: auto;
    padding-right: auto;
    width: 100%
}

.thumbnails {
    position: absolute
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.tb {
    width: 62px;
    height: 62px;
    border: 1px solid grey;
    margin: 2px;
    opacity: 0.4;
    cursor: pointer
}

.tb-active {
    opacity: 1
}

.thumbnail-img {
    width: 60px;
    height: 60px
}

@media screen and (max-width: 768px) {
    .pic0 {
        width: 250px;
        height: 350px
    }
}

.btn-danger {
    background: #dc3545;
    border: indianred;
    border-color: #dc3545;
    max-width: 170px;
    width: 100%;
    margin-right: 10px;
    border-radius: 25px;
}

.btn-warning {
    background: #ffc107;
    border: indianred;
    border-color: #ffc107;
    max-width: 170px;
    width: 100%;
    margin-right: 10px;
    border-radius: 25px;
}

.btn-danger {
    width: 100%;
    margin-right: 10px;
    border-radius: 25px;
}

.btn-danger:hover {
    background: #ffc107;
    color: #000;
}

.btn-success {
    background-color: #28a745;
    border: indianred;
    border-color: #28a745;
    /* max-width: 170px; */
    width: 100%;
    margin-right: 10px;
    border-radius: 25px;
}

.btn-primary {
    background-color: #081b30;
    border: indianred;
    border-color: #081b30;
    width: 100%;
    margin-right: 10px;
    border-radius: 25px;
}

.btn-primary:hover {
    background: #FFFFFF;
    color: #000;
}

nav.main-menu {
    float: left;
    margin-top: 2px;
    margin-left: 0;
}

.clothes_main {
    width: 100%;
    float: left;
    background-color: #FFFFFF;
    height: auto;
    padding: 60px 0px;
}

.Nav_main {
    width: 100%;
    float: left;
    background-color: #136af8;
    height: 165px;
    padding: 60px 0px 60px 0px;
}

.titlepage h2 {
    padding: 0px 0px 0px 0px;
    font-size: 40px;
    font-weight: bold;
    color: #136af8;
    line-height: 50px;
    position: relative;
    margin-bottom: 20px;
}

.border-3 {
    border-width: 3px !important;
}

.Address {
    width: 100%;
    float: left;
    background-color: #081b30;
    height: auto;
    padding: 0 0 0 0;
}

.PacificoFN {
    font-family: 'Pacifico', cursive;
}

.mean-container .mean-bar {
    background: #081b30;
    float: left;
    min-height: 40px;
    padding: 5px 0;
    position: relative;
    width: 100%;
    z-index: 999;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #081b30;
    border-color: #007bff;
}