@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
body {
    font-family: "Kanit", sans-serif;
    background: rgb(83, 216, 149);
    background: linear-gradient(180deg, rgba(83, 216, 149, 1) 0%, rgba(142, 228, 175, 1) 35%, rgba(237, 245, 225, 1) 100%);
}

.minitext {
    font-size: 13px;
}

.MAMenu {
    border-radius: 10px;
}

.MAMenu:hover {
    background: #FFFFFF;
}

.menu_text {
    width: 86%;
    float: right;
    margin-top: 40px;
    margin-bottom: 30px;
}
.BGPanel{
    background: #FFFFFF;
     border-radius: 10px;
}
.HDText{
   color:black; 
   font-size:32px;

}
